body{
    background-color: rgb(179, 238, 218);
    font-family:sans-serif;
}

.info{
    width:1200px;
    height: 250px;
    background-image: linear-gradient(90deg ,rgb(104, 198, 227),rgb(204, 204, 239),rgb(214, 125, 207));
    margin-left: 180px;
    margin-top: 50px;
}

h2{
    text-align: center;
    padding-top:20px;
    font-size: 30px;
    color: rgb(230, 245, 250);
}

#number{
    font-size: 50px;
    margin: 60px;
    color: rgb(5, 47, 61);
}
button{
    margin-left: 300px;*
     box-sizing: border-box;
     height: 50px;
     width: 60px;
     border: 1px solid rgb(26, 2, 2);
    border-radius: 50%;
    text-decoration: solid;
    text-transform: capitalize;
    box-shadow: 2px 4px 8px 10px rgba(249, 247, 251, 0.944);
    border-style: none;
    font-weight: 600; 
    position: relative;
    top:-27px;
    cursor: pointer;
}

.counter-main{
    width:800px;
    height: 150px;
    background-color: rgb(60, 60, 70);
    position: relative;
    left:400px;
}

.counter{
    height:100px;
    width:100px;
    background-color: rgb(243, 243, 249);
    overflow: hidden;
    margin: 100px;
    position: relative;
    top:25px;
    left:230px;
    margin-top: 58px;
    font-weight: 800;
    font-size: 50px;
    
}

p{
    text-align: center;
    line-height: 80px;
    height: 100%;
    margin: 0px;
    width: 100%;
    background-color: aliceblue;
    border-top: 2px solid black;

}



